@{
    ViewData["Title"] = "Home Page";
    @using Dashboard.Models
}
@Html.Partial("Registration")
@Html.Partial("Login")
<h2>@ViewData["UserExists"]</h2>
<h2> @ViewData["EmailPasswordComboFail"] </h2>